.gf-appbar {

  position: fixed;
  background: svg-gradient(to bottom, @color-black, @tp-literal);

  & > div {
    margin: 0;
    height: inherit;
  }

  .gf-logo {
    margin: 0 auto;
    height: inherit;
    line-height: inherit;
    font-size: 1em;
    max-width: 1024px;
    display: block;

    & > span {
      font-family: @font-logo;
      font-size: 2.6em;
      font-weight: 900;
      font-style: normal;
      text-decoration: none;
      text-transform: uppercase;
    }

    ul.gf-menu {

      position: absolute;
      top: 64px;
      left: 0;
      right: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
      vertical-align: top;

      &:before {
        content: 'keyboard_arrow_down';
        position: absolute;
        bottom: 100%;
        left: 100px;
        margin: 0;
        width: 1em;
        font-family: @font-micons;
        font-size: 2em;
        text-align: center;
        vertical-align: middle;
        line-height: inherit;
        opacity: .6;
        cursor: pointer;
        -webkit-transition-property: transform;
        -moz-transition-property: transform;
        -ms-transition-property: transform;
        -o-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -ms-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
      }

      li {
        position: relative;
        margin: 0;
        padding: 0 15px;
        width: auto;
        text-align: center;
        display: none;

        a {
          color: inherit;
          text-decoration: none;

          .Media-Desktop({
            opacity: .5;
            -webkit-transition: opacity .25s;
            -moz-transition: opacity .25s;
            -ms-transition: opacity .25s;
            -o-transition: opacity .25s;
            transition: opacity .25s;

            &:hover {
              opacity: 1;
            }
          })
        }

        &.active:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 3px;
          width: 100%;
          background: @color-white;
        }
      }

      &.active {

        &:before {
          -webkit-animation: none;
          -o-animation: none;
          animation: none;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }

        li {
          width: inherit;
          background: fade(@color-black, 55%);
          display: block;
        }

      }

      //@media Desktop
      .Media-Desktop({
        position: relative;
        top: 0;
        left: auto;
        right: auto;
        margin: 0 0 0 15%;

        &:before {
          display: none;
        }

        li {
          display: inline-block;
        }

        &.active {
          li {
            background: transparent;
            display: inline-block;
          }
        }
      })
    }
  }

  .navbtn--location {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -1em;
    line-height: inherit;
    height: 100%;
    width: 2em;
    text-align: center;
    color: white;
    -webkit-animation: pulsate 1.5s ease-in-out 0s infinite;
    -o-animation: pulsate 1.5s ease-in-out 0s infinite;
    animation: pulsate 1.5s ease-in-out 0s infinite;
    vertical-align: middle;

    .material-icons {
      vertical-align: middle;
    }
  }

  .gf-action__login {

    position: absolute;
    top: 50%;
    right: 0;
    margin: -15px 0 0;
    padding: 0 16px;
    height: auto;
    line-height: @spacing-base;
    background: transparent;
    border: 0 transparent solid;
    font-family: @font-main;
    font-size: 1em;
    color: @color-white;
    text-transform: none;
    opacity: .75;
    cursor: pointer;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -ms-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;

    &:hover {
      opacity: 1;
    }

    span {
      vertical-align: middle;
    }

    .material-icons + span {
      display: none;
    }

    //@media Desktop
    .Media-Desktop({
      .material-icons + span {
        display: inline-block;
      }
    })
  }

  .gf-action__account {
    position: absolute;
    top: 50%;
    right: 16px;
    margin: -16px 0 0;
    padding: 0;
    height: 32px;
    width: 32px;
    background: transparent;
    border: 0 transparent solid;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;

    span {
      height: inherit;
      width: inherit;
      border: 0 transparent solid;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
    }

    img {
      height: inherit;
      width: inherit;
      display: block;
    }

    i {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 4px;
      margin: 0 -4px -4px 0;
      height: 16px;
      min-width: 8px;
      line-height: 1.225;
      background: red;
      border: 2px white solid;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
      font-family: @font-main;
      font-size: 14px;
      font-style: normal;
      display: inline-block;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      visibility: hidden;

      &.active {
        visibility: visible;
      }
    }

  }
}