
@keyframes pulse {
  30% {
    opacity: .6
  }

  60% {
    opacity: 0
  }

  to {
    opacity: .6
  }
}

@keyframes pulsate {

  30% {
    opacity: .6
  }

  60% {
    opacity: 1
  }

  to {
    opacity: .6
  }
}