@import './variables';

body, html {
  margin: 0;
  padding: 0;
}

.gf-appbar {
  background: -moz-linear-gradient(top,  hsla(0,0%,0%,1) 0%, hsla(0,0%,100%,0) 100%);
  background: -webkit-linear-gradient(top,  hsla(0,0%,0%,1) 0%,hsla(0,0%,100%,0) 100%);
  background: linear-gradient(to bottom,  hsla(0,0%,0%,1) 0%,hsla(0,0%,100%,0) 100%);

  .gf-logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;

    span {
      color: @red;
    }
  }
}

.muidocs-icon-navigation-expand-more {
  content: 'expand_more';
}