@color-white: #ffffff;
@color-red: #e43d35;//cinnabar
@color-dark-gray: #333333;//mine shaft
@color-gray: #3b3b3b;
@color-black: #000000;

@color-advanced-text: #8e8e8e;//gray

@tp-hsla: hsla(0,0%,0%,1);
@tp-rgba: rgba(0,0,0,0);
@tp-literal: transparent;

//pallette
@color-geo-track: #f32035;//red ribbon

@spacing-base: 1.168;

@font-main: 'Roboto', Arial, sans-serif;
@font-logo: 'Montserrat', 'Arial Bold', sans-serif;
@font-micons: 'Material Icons';
@font-ufc: 'ufc';